* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: gainsboro;
}
main {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
button {
  margin: 20px 0px;
}
.box {
  height: 100px;
  width: 100px;
  background-color: red;
}
